#pno-custom-fields-editor-wrapper {
	margin-top: 0;

	h1 {
		img {
			float: left;
			height: 28px;
			margin-right: 10px;
			margin-top: 10px;
		}
	}

	.editor-box {
		padding: 2em;
		border: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
		background: #fff;
		text-align: center;
		margin-top: 20px;
		&:hover {
			.dashicons {
				color: #0073aa;
			}
		}

		.dashicons {
			font-size: 70px;
			width: auto;
			height: auto;
		}
	}

	.title-links {
		display: inline-block;
		margin-bottom: 0;
		margin-top: 10px;
		margin-left: 20px;

		li {
			display: inline-block;
			margin-bottom: 0;
		}
	}

	.back-link {
		padding: 4px !important;
		border-radius: 9999px !important;

		.dashicons {
			width: 16px;
			height: 16px;
			font-size: 16px;
			vertical-align: inherit;
			position: relative;
			top: 3px;
		}
	}

	.tables-wrapper {
		margin-top: 30px;

		table {
			margin-top: 20px;

			td {
				vertical-align: middle;
			}

			a.button {
				margin-right: 5px;

				span {
					margin-top: 3px;
				}

				&.error:hover {
					span {
						color: #dc3232;
					}
				}
			}

			.icon-col {
				width: 100px;
			}

			.dashicons-yes {
				color: #46b450;
			}
		}

		tr.no-items {
			td {
				text-align: center;
				padding: 1.2em;
			}
		}

		.sortable-ghost {
			background: #fffecc;
		}

		.sortable-chosen {
			background: #fffecc;
		}

		.sorting-spinner {
			margin-left: 10px;
			margin-top: 4px;
		}
	}

	.move-col {
		width: 30px;
		border-right: 1px solid #e1e1e1;
		text-align: center !important;
	}

	.vue-wp-notice {
		margin-bottom: 20px;
	}

	.order-anchor {
		border-right: 1px solid #e1e1e1;
		text-align: center !important;

		&:hover {
			cursor: move;
		}
	}

	.v--modal {
		box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
		border-radius: 0;
	}

	.v--modal-overlay {
		background: rgba(0, 0, 0, 0.7);
		z-index: 99999;
	}
}

.pno-modal {
	.media-modal-content {
		background: #efefef;
		min-height: auto;
		height: auto;
	}

	.media-frame-content {
		top: 50px;
		padding: 20px 16px;

		label {
			display: inline-block;
			font-weight: bold;
			color: #000;
			margin-bottom: 5px;
			font-size: 13px;
		}

		input,
		textarea,
		select {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			font-size: 13px !important;
		}
	}

	.spinner {
		margin-top: 20px;
	}
}

.inline-notice-container {
	padding: 0 !important;
}

.inline-table-notice {
	margin: 0 !important;
	padding: 1em 1em !important;
}

.upsell-btn {
	display: block !important;
	text-align: center;
}

.upsell-metabox {
	margin-top: 30px;
}
