.pno-dashboard-status-filter {
	font-weight: bold;
}

.pno-listing-status-publish {
	background: #edf8ee;
	color: #46b450;
}

.pno-listing-status-pending {
	background: #fff8e6;
	color: #ffb900;
}

.pno-listing-status-expired {
	background: #fcebeb;
	color: #dc3232;
}

.pno-dashboard-count-card {
	.count-icon {
		text-align: center;
	}
	.card-title {
		font-size: 2.5rem;
		font-weight: bold;
	}
	i {
		font-size: 32px;
	}
}
