
.pno-listing-card {

	background-color: #f9f9f9;
	border: none;

	&.list-template,
	&.grid-template {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin-bottom: 0.5em;
			}
		}
	}

	&.list-template {
		.listing-img-wrapper {
			height: 250px;
			overflow: hidden;
			position: relative;
			img {
				object-fit: cover;
				height: 100%;
				width: 200px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	&.grid-template {
		.listing-img-wrapper {
			height: 200px;
			overflow: hidden;
			position: relative;

			img {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	.listing-img-wrapper {
		.featured-badge {
			position: absolute;
			top: 15px;
			left: 15px;
		}
	}

}

.pno-single-listing-wrapper {

	.listing-featured-image {

		img {
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
			object-fit: cover;
			width: 100%;
			max-height: 350px;
		}

	}

	.listing-terms-list {
		li {
			&:first-child {
				margin-right: 10px;
			}
		}
		.breadcrumb-item + .breadcrumb-item::before {
			content: "\000B7"
		}
	}

	.listing-meta-fields {
		ul {
			margin: 0;
			padding: 0;
		}

		span.field-title {
			font-weight: 700;
		}

	}

	#pno-single-listing-gallery {
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		img {
			object-fit: cover;
			width: 100%;
			max-height: 350px;
		}
	}

	.pno-single-listing-map {
		width: 100%;
		height: 200px;
	}

}

.pno-social-networks-list {
	.fa-behance {
		color: $behance;
	}
	.fa-dribbble {
		color: $dribbble;
	}
	.fa-facebook {
		color: $facebook;
	}
	.fa-flickr {
		color: $flickr;
	}
	.fa-github {
		color: $github;
	}
	.fa-google-plus {
		color: $googleplus;
	}
	.fa-instagram {
		color: $instagram;
	}
	.fa-linkedin {
		color: $linkedin;
	}
	.fa-pinterest {
		color: $pinterest;
	}
	.fa-reddit {
		color: $reddit;
	}
	.fa-skype {
		color: $skype;
	}
	.fa-snapchat {
		color: $snapchat;
	}
	.fa-spotify {
		color: $spotify;
	}
	.fa-stack-overflow {
		color: $stackoverflow;
	}
	.fa-telegram {
		color: $telegram;
	}
	.fa-tumblr {
		color: $tumblr;
	}
	.fa-twitter {
		color: $twitter;
	}
	.fa-vimeo {
		color: $vimeo;
	}
	.fa-vk {
		color: $vk;
	}
	.fa-whatsapp {
		color: $whatsapp;
	}
	.fa-youtube {
		color: $youtube;
	}
	.fa-soundcloud {
		color: $soundcloud;
	}
}
