.pno-taxonomy-map {
	width: 100%;
	height: 400px;
}

.pno-map-marker {
	position: relative;
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	svg {
		fill: #ef3652;
	}

	&.geolocated-marker {
		svg {
			height: 50px;
			width: 50px;
		}
	}

	i {
		color: #fff;
		font-size: 16px;
		position: absolute;
		z-index: 10;
		display: block;
		left: 16px;
		top: 11px;
	}

	&.marker-text {
		background: #fff;
		border: 1px solid #fff;
		box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
		color: #000;
		display: inline-block;
		border-radius: 4px;
		line-height: 30px;
		padding: 0 10px;

		.field-content {

			font-weight: bold;

			&:before {
				content: "";
				display: block;
				height: 7px;
				width: 10px;
				position: absolute;
				top: 26px;
				left: calc(50% - 5px);
				border-radius: 100%;
			}

			&:after {
				content: "";
				display: block;
				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 100%;
				height: 4px;
				width: 10px;
				position: absolute;
				left: calc(50% - 5px);
				top: calc(100% + 5px);
			}
		}

		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #fff;
			border-width: 7px;
			margin-left: -7px;
		}
	}

	&.marker-image {
		transform: translate(-50%, -50%) rotate(-45deg);
		border-radius: 50% 50% 50% 0;
		text-align: center;
		background-color: #fff;
		color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, .47);
		width: 48px;
		height: 48px;

		* {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		>div {
			background-color: #fff;
			transform: translate(-50%, -50%) rotate(45deg);
			border-radius: 50%;
			border: 3px solid;
			width: 100%;
			height: 100%;
			box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1) inset;
			border-color: #fff;

			>* {
				transform: translate(-50%, -50%);
			}
		}

		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
			display: inline;
			padding: 0;
			border: 0;
			box-shadow: none;
			vertical-align: middle;
		}

	}
}

.pno-map-marker__shadow {
	background: rgba(0, 0, 0, .15);
	box-shadow: rgba(0, 0, 0, .05) 0 0 1px 1px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transform: rotateX(55deg);
	content: ' ';
	display: block;
	z-index: -1 !important;
	margin: -6px auto 0;

	&::after {
		content: "";
		border-radius: 50%;
		height: 40px;
		width: 40px;
		position: absolute;
		margin: -13px 0 0 -14px;
		opacity: 0;
		box-shadow: 0 0 1px 2px rgba(0, 0, 0, .25);
	}
}

.pno-gmap-button {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	border: 0px none;
	margin: 10px;
	padding: 0px;
	cursor: pointer;
	-moz-user-select: none;
	border-radius: 2px;
	height: 40px;
	width: 40px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	overflow: hidden;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
}

#pno-map-consent-message {
	text-align: center;
	form {
		margin: 0;
	}
}
