#pno-profile-wrapper {
	.card {
		img.avatar.card-img-top {
			max-height: 200px;
			object-fit: cover;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.pno-profile-page-navigation {
		margin: 0;
		padding: 0;
	}

}

#pno-profile-posts {
	ul {
		margin: 0;
		padding: 0;
	}

	.pno-post-img-wrapper {
		img {
			max-width: 100px;
		}
	}

}

#pno-profile-comments {
	ul {
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px solid #f5f5f5;
		}
	}
}
