.pno-listing-card .rating-summary {
	i {
		color: #EDB867;
		margin-right: -4px;
		&.blank-star {
			color: #d2d2d2;
		}
	}
}

.pno-listing-card .rating-summary.mb-4 {
	margin-bottom: 0 !important;
}
