.pno-loading {
  width: 40px;
  height: 40px;
  border: 3px solid #6c757d;
  border-top: 3px solid white;
  border-radius: 50%; }

.pno-loading {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#pno-listing-location-selector .pno-loading {
  height: 22px;
  width: 22px; }

.pno-field-avatar img {
  width: 70px;
  height: 70px;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%; }

.pno-required {
  color: red; }

.pno-optional {
  font-style: italic; }

.pno-field-remember {
  margin-bottom: 10px; }

.pno-field-robo {
  display: none; }

.pno-check-label {
  display: inline; }

.pno-field-file input {
  width: 100%;
  box-sizing: border-box; }

.pno-field-multiselect .select2-container {
  width: 100%; }

.pno-action-links {
  list-style: none;
  margin: 0;
  padding: 0; }

#pno-listings-submission-steps ul {
  margin: 0 0 1.5em 0; }

.pno-field-listing-type label {
  display: block; }
  .pno-field-listing-type label:first-child {
    font-weight: bold; }
.pno-field-listing-type .card label:hover {
  cursor: pointer; }
.pno-field-listing-type .card:hover {
  background-color: #fbfbfb; }

#pno-listing-type-selection form {
  margin: 0; }
#pno-listing-type-selection .card:hover {
  background: #fbfbfb; }

form.pno-form-has-errors .invalid-feedback,
form.pno-form-has-errors .field-has-errors {
  display: block; }

.select2,
.select2-container {
  width: 100% !important; }

.pno-listing-submission-map {
  height: 300px; }

.pno-uploaded-files-list {
  margin: 0 0 1em 0; }
  .pno-uploaded-files-list img {
    height: 70px; }

nav .pno-pagination {
  margin: 0;
  border: 0;
  padding: 0; }

.pno-dashboard-status-filter {
  font-weight: bold; }

.pno-listing-card {
  background-color: #f9f9f9;
  border: none; }
  .pno-listing-card .pno-listing-card-img-wrapper {
    min-height: 200px;
    height: 100%;
    overflow: hidden;
    position: relative; }
    .pno-listing-card .pno-listing-card-img-wrapper img {
      object-fit: cover;
      height: 200px;
      width: 200px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  .pno-listing-card.list-template ul, .pno-listing-card.grid-template ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .pno-listing-card.list-template ul li, .pno-listing-card.grid-template ul li {
      margin-bottom: 0.5em; }
  .pno-listing-card.grid-template .listing-img-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative; }
    .pno-listing-card.grid-template .listing-img-wrapper img {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      object-fit: cover;
      height: 100%;
      width: 100%; }

/*# sourceMappingURL=pno.css.map */
