.pno-admin-title-area {
  background: url(../../imgs/logo.svg) top left 20px/30px 60px no-repeat #fff;
  box-shadow: 0 1px 0 rgba(200, 215, 225, 0.5), 0 1px 2px #DDD;
  padding: 15px 20px 15px 65px;
  margin-left: -20px;
  margin-bottom: 2em; }
  .pno-admin-title-area .wrap {
    margin: 0; }
    .pno-admin-title-area .wrap h1, .pno-admin-title-area .wrap h2, .pno-admin-title-area .wrap h3 {
      display: inline-block;
      padding: 0;
      font-size: 23px;
      font-weight: 400;
      margin: 0;
      line-height: 1.3; }
  .pno-admin-title-area .title-links {
    display: inline-block;
    margin: 10px 0 0 20px; }
    .pno-admin-title-area .title-links li {
      display: inline-block;
      margin-bottom: 0; }

.pno-nav-tab-wrapper {
  margin-bottom: 1em !important; }

.carbon-wp-notice {
  background: #fff;
  border-left: 4px solid #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 5px 0 2px 0;
  padding: 1px 12px; }
  .carbon-wp-notice p {
    margin: 0.5em 0;
    padding: 2px; }
  .carbon-wp-notice--large {
    padding: 10px 20px; }
  .carbon-wp-notice.notice-success {
    border-left-color: #46b450; }
  .carbon-wp-notice.notice-warning {
    border-left-color: #ffb900; }
  .carbon-wp-notice.notice-error {
    border-left-color: #dc3232; }
    .carbon-wp-notice.notice-error a {
      text-decoration: underline; }
  .carbon-wp-notice.notice-info {
    border-left-color: #00a0d2; }
  .carbon-wp-notice .notice-dismiss {
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    background: none;
    color: #72777c;
    cursor: pointer; }
    .carbon-wp-notice .notice-dismiss:before {
      background: 0 0;
      color: #72777c;
      content: "\f153";
      display: block;
      font: 400 16px/20px dashicons;
      speak: none;
      height: 20px;
      text-align: center;
      width: 20px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .carbon-wp-notice .notice-dismiss:focus {
      outline: none;
      box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8); }
    .carbon-wp-notice .notice-dismiss:hover:before, .carbon-wp-notice .notice-dismiss:active:before, .carbon-wp-notice .notice-dismiss:focus:before {
      color: #c00; }
  .carbon-wp-notice.is-dismissible {
    padding-right: 38px;
    position: relative; }
  .carbon-wp-notice.is-alt {
    box-shadow: none; }
    .carbon-wp-notice.is-alt.notice-success {
      background-color: #ecf7ed; }
    .carbon-wp-notice.is-alt.notice-warning {
      background-color: #fff8e5; }
    .carbon-wp-notice.is-alt.notice-error {
      background-color: #fbeaea; }
    .carbon-wp-notice.is-alt.notice-info {
      background-color: #e5f5fa; }

.posterno-options-panel .carbon-separator {
  background: #f5f5f5; }
  .posterno-options-panel .carbon-separator h3 {
    font-size: 16px !important;
    font-weight: 600; }
