.wrap .page-title-action.pno-title-action {
  top: 5px;
  left: 10px; }

.wrap h2.nav-tab-wrapper.pno-nav-tab-wrapper {
  padding-top: 0; }

.carbon-field.inline-metabox-message {
  background: #fafafa; }
  .carbon-field.inline-metabox-message h4 {
    margin: 0;
    padding-top: 6px; }

.carbon-field.inline-radio-selector .carbon-radio-list li {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0; }

.carbon-container-carbon_fields_container_situations div.carbon-set-list {
  min-height: 42px;
  max-height: 200px;
  overflow: auto;
  padding: .9em .9em 0 .9em;
  border: 1px solid #ddd;
  background-color: #fdfdfd;
  margin-bottom: .9em; }

#carbon_fields_container_administrator_notification .wp-media-buttons {
  display: none; }

.carbon-container-carbon_fields_container_listing_expiry button.button {
  display: none; }

body.post-type-listings .wp-list-table th#expires {
  width: 10%; }
body.post-type-listings .wp-list-table .column-status,
body.post-type-listings .wp-list-table .column-featured {
  width: 1em; }
  body.post-type-listings .wp-list-table .column-status span,
  body.post-type-listings .wp-list-table .column-featured span {
    display: block;
    width: 17px;
    height: 17px;
    font-size: 17px;
    line-height: 17px;
    padding: 1px 0 0 0;
    overflow: hidden; }
