@import '../../../node_modules/balloon-css/balloon.css';

.wrap .page-title-action.pno-title-action {
	top: 5px;
	left: 10px;
}

.wrap h2.nav-tab-wrapper.pno-nav-tab-wrapper {
	padding-top: 0;
}

.carbon-field.inline-metabox-message {
	background: #fafafa;
	h4 {
		margin: 0;
		padding-top: 6px;
	}
}

.carbon-field {
	&.inline-radio-selector {
		.carbon-radio-list li {
			display: inline-block;
			margin-right: 1em;
			margin-bottom: 0;
		}
	}
}

.carbon-container-carbon_fields_container_situations {
	div.carbon-set-list {
		min-height: 42px;
		max-height: 200px;
		overflow: auto;
		padding: .9em .9em 0 .9em;
		border: 1px solid #ddd;
		background-color: #fdfdfd;
		margin-bottom: .9em;
	}
}

#carbon_fields_container_administrator_notification {
	.wp-media-buttons {
		display: none;
	}
}

.carbon-container-carbon_fields_container_expiry {
	button.button {
		display: none;
	}
}

body.post-type-listings {
	.wp-list-table {
		.column-status,
		.column-featured {
			width: 1em;
			text-align: center;
			vertical-align: middle;
			span {
				display: block;
				width: 17px;
				height: 17px;
				font-size: 17px;
				line-height: 17px;
				padding: 1px 0 0 0;
				overflow: hidden;
			}
		}
		.column-status {
			span {
				&.dashicons-yes {
					color: #46b450;
				}

				&.dashicons-dismiss {
					color: #dc3232;
				}

				&.dashicons-clock {
					color: #ffb900;
				}
			}
		}
	}
	td.column-featured {
		span {
			&.dashicons-star-filled {
				color: #f1c40f;
			}
		}
	}
}
