@font-face {
	font-family: 'posterno';
	src: url('../../font/posterno.eot?32909719');
	src: url('../../font/posterno.eot?32909719#iefix') format('embedded-opentype'),
		url('../../font/posterno.woff2?32909719') format('woff2'),
		url('../../font/posterno.woff?32909719') format('woff'),
		url('../../font/posterno.ttf?32909719') format('truetype'),
		url('../../font/posterno.svg?32909719#posterno') format('svg');
	font-weight: normal;
	font-style: normal;
}

.menu-icon-listings .dashicons-admin-post:before {
	font-family: "posterno";
	content: '\e800';
}

.pno-shortcodes-icon {
	font-family: "posterno";
	content: '\e800';
}

i.pno-shortcodes-icon:before {
	font-family: "posterno";
	content: '\e800';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
}

body .mce-window .mce-container-body.mce-abs-layout {
	overflow-y: hidden;
}
